@media screen and (max-width: 1050px){
    #tekst p{
        font-size:25px;
    }
}
@media screen and (max-width: 935px ){
    #tekst p{
        font-size:20px;
    }
}

@media screen and (max-width:400px){
    nav ul li a{
      padding:10px;
      font-size:15px;
    }
    #slikaItekst {
     display:block;
     width:60%;

    }
   #about{
       display:block;
       width:60%; 
   }
  #tekst{
      display:block;
      width:60%;
  }
  
}
